/*
 * This file is part of thumbor-toy project.
 *
 * (c) Raphaël Benitte <thumbor-toy@rbenitte.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
$dark-theme = {
  header-bg-color:                       #1f2332,
  bg-color:                              #151926,
  panel-bg-color:                        #2e3243,
  font-color:                            #717b98,


  filter-color-active:                   #cdd7ef,
  filter-bg-color-active:                #35394b,
  filter-shadow-active:                  0 1px 2px rgba(0, 0, 0, 0.75),
  filter-header-active-color:            #fff,

  filter-color-inactive:                 #717b98,
  filter-bg-color-inactive:              #2e3243,
  filter-shadow-inactive:                0 0 2px rgba(0, 0, 0, 0.35),
  filter-header-inactive-color:          #717b98,

  filter-header-bg-color-hover:          #404457,

  filter-btn-icon-size:                  14px,
  filter-btn-icon-color:                 #717b98,
  filter-btn-icon-color-hover:           #cdd7ef,


  panel-toggle-open-bg-color:            #434c6d,
  panel-toggle-open-txt-color:           #0a0a14,
  panel-toggle-open-bg-color-hover:      #6a739e,
  panel-toggle-open-txt-color-hover:     #040409,
  panel-toggle-open-txt-size:            26px,
  panel-toggle-open-size:                46px,
  panel-toggle-open-offset:              26px,

  panel-toggle-close-bg-color:           #151926,
  panel-toggle-close-txt-color:          #434c6d,
  panel-toggle-close-bg-color-hover:     #282c3a,
  panel-toggle-close-txt-color-hover:    #606a94,
  panel-toggle-close-txt-size:           16px,
  panel-toggle-close-size:               32px,
  panel-toggle-close-offset:             12px,


  panel-title-color:                     #cdd7ef,
  panel-title-font:                      unquote("300 20px 'Lato', sans-serif"),
  panel-icon-color:                      #545f88,

  url-bg-color:                          #151926,

  control-bg-color:                      #272938,

  control-embossed-bg-color:             #394262,
  control-embossed-icon-color:           #000,
  control-embossed-bg-color-highlight:   #434c6d,
  control-embossed-txt-color-highlight:  #cdd7ef,
  control-embossed-icon-color-highlight: #cdd7ef,
  control-embossed-shadow:               0 2px 0 #23262c,
  control-embossed-shadow-inset:         0 -2px 0 #23262c inset,


  copy-btn-bg-color:                     #394262,
  copy-btn-color:                        #717b98,
  copy-btn-bg-color-hover:               #434c6d,
  copy-btn-color-hover:                  #cdd7ef,

  toggle-bg:                             #202231,
  toggle-pill-color:                     #2e3243,
  toggle-bg-on:                          #151926,
  toggle-pill-color-on:                  #555d86,

  control-bg-color-focus:                #151926,
  control-txt-color-focus:               #cdd7ef,

  notice-bg-color:                       #2e3243,
  notice-txt-color:                      #717b98,
  notice-icon-color:                     #cdd7ef,
  notice-shadow:                         0 2px 3px rgba(0, 0, 0, 0.5),
}

$header-height       = 60px
$header-inner-height = 38px

$url-status-color-unknown            = #545f88
$url-status-color-error              = #da522a
$url-status-color-ok                 = #55be81



$filter-header-height                = 42px

