$header-height= 52px

// colors
$bg-color                            = #151926
$panel-bg-color                      = #2e3243
$control-bg-color                    = #272938
$control-bg-color-focus              = #151926
$font-color                          = #717b98
$font-highlight-color                = #cdd7ef
$panel-title-color                   = #cdd7ef
$panel-icon-color                    = #545f88
$header-bg-color                     = #1f2332

$filter-bg-color                     = #35394b
$filter-header-height                = 42px
$filter-btn-bg-color-hover           = #545f88
$filter-btn-icon-color               = #717b98
$filter-btn-icon-color-hover         = #cdd7ef

$control-embossed-bg-color           = #394262
$control-embossed-bg-color-highlight = #434c6d
$control-embossed-shade-color        = #23262c

$panel-toggle-open-bg-color          = #434c6d
$panel-toggle-open-txt-color         = #0a0a14
$panel-toggle-open-bg-color-hove     = #6a739e
$panel-toggle-open-txt-color-hover   = #040409
$panel-toggle-open-txt-size          = 26px
$panel-toggle-open-size              = 46px
$panel-toggle-open-offset            = 26px

$panel-toggle-close-bg-color         = #151926
$panel-toggle-close-txt-color        = #434c6d
$panel-toggle-close-bg-color-hover   = #282c3a
$panel-toggle-close-txt-color-hover  = #606a94
$panel-toggle-close-txt-size         = 16px
$panel-toggle-close-size             = 32px
$panel-toggle-close-offset           = 12px