.header
  z-index 200

  height      $header-height
  line-height $header-height

  position absolute

  top   0
  left  0
  right 0

  padding 9px 54px 0 10px

  font-size 16px

  t(background-color, 'header-bg-color')

  &._has-error
    padding-left 40px

  input[type="text"]
    vertical-align top
    font-family consolas, menlo, monaco, monospace;
    t(background-color, 'url-bg-color')
    width 100%
    padding 9px 9px 9px 46px

.url__status
  color $url-status-color-ok
  line-height 1em
  position absolute
  font-size 20px
  top 14px
  left 24px
  &._is-unkown
    color $url-status-color-unknown
  &._has-error
    color $url-status-color-error

.url__copy
  cursor pointer
  t(background, 'copy-btn-bg-color')
  t(color,      'copy-btn-color')
  line-height 1em
  position absolute
  top   9px
  right 10px
  padding 9px
  display block
  border-radius 2px

  &__tooltip
    line-height 1em
    position absolute
    top 13px
    right 54px
    padding 7px 9px
    display none
    t(background, 'copy-btn-bg-color')
    t(color,      'copy-btn-color')
    font-size 12px
    border-radius 2px

.zeroclipboard-is-hover,
.url__copy:hover
  t(background, 'copy-btn-bg-color-hover')
  t(color,      'copy-btn-color-hover')

.zeroclipboard-is-hover + .url__copy__tooltip,
.url__copy:hover + .url__copy__tooltip
    display block


