/*
 * This file is part of thumbor-toy project.
 *
 * (c) Raphaël Benitte <thumbor-toy@rbenitte.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.header
  z-index 200

  height $header-height

  position absolute

  top   0
  left  0
  right 0

  padding (($header-height - $header-inner-height) / 2) (($header-height - $header-inner-height) + $header-inner-height) 0 (($header-height - $header-inner-height) / 2)

  box-shadow 0 0 3px rgba(0, 0, 0, 0.35)
  font-size 16px

  t(background-color, 'header-bg-color')

  &._has-error
    padding-left 40px

  &__settings
    @extends $unselectable
    t(background, 'copy-btn-bg-color')
    t(color,      'copy-btn-color')
    position absolute
    text-align center
    cursor pointer
    width       $header-inner-height
    height      $header-inner-height
    line-height $header-inner-height
    top   (($header-height - $header-inner-height) / 2)
    right (($header-height - $header-inner-height) / 2)
    border-radius 2px
    &:hover
      t(background, 'copy-btn-bg-color-hover')
      t(color,      'copy-btn-color-hover')

  &__notice
    position absolute
    top  115%
    left 35%
    width 30%
    display block
    text-align center
    border-radius 2px
    padding 9px 12px
    font-size 14px
    t(background,  'notice-bg-color')
    t(color,       'notice-txt-color')
    t(box-shadow , 'notice-shadow')
    .fa
      margin-right 7px
      t(color, 'notice-icon-color')

.url
  width 50%
  float left
  padding-right (($header-height - $header-inner-height) * 0.5 + $header-inner-height)
  position relative

  &--shortened
    padding-left (($header-height - $header-inner-height) + $header-inner-height)

input[type=text].url__field
  cursor not-allowed
  vertical-align top
  font-family consolas, menlo, monaco, monospace
  t(background-color, 'url-bg-color')
  width 100%
  height $header-inner-height
  padding 9px 9px 9px ($header-inner-height + 5px)
  box-sizing border-box

  +placeholder()
    t(color, 'url-placeholder-color')

  .url--shortened &
    padding-left 9px


.url__status
  color $url-status-color-ok
  width       $header-inner-height
  height      $header-inner-height
  line-height $header-inner-height
  position absolute
  font-size 20px
  text-align center
  top  0
  left 0
  &._is-unkown
    color $url-status-color-unknown
  &._has-error
    color $url-status-color-error

.url__copy,
.url__shorten
  @extends $unselectable
  cursor pointer
  t(background, 'copy-btn-bg-color')
  t(color,      'copy-btn-color')
  position absolute
  width       $header-inner-height
  height      $header-inner-height
  line-height $header-inner-height
  text-align center
  top   0
  display block
  border-radius 2px

.url__shorten
  left (($header-height - $header-inner-height) / 2)

.url__copy
  right 0

  &__tooltip
    position absolute
    top   0
    right (($header-height - $header-inner-height) / 2 + $header-inner-height)
    height      $header-inner-height
    line-height $header-inner-height
    padding 0 11px
    display none
    t(background, 'copy-btn-bg-color')
    t(color,      'copy-btn-color')
    font-size 12px
    border-radius 2px
    z-index 200

.zeroclipboard-is-hover,
.url__copy:hover,
.url__shorten:hover
  t(background, 'copy-btn-bg-color-hover')
  t(color,      'copy-btn-color-hover')

.zeroclipboard-is-hover + .url__copy__tooltip,
.url__copy:hover + .url__copy__tooltip
    display block


