.panel
  border-bottom 1px solid darken($panel-bg-color, 5)
  &__title
    margin 0
    font-weight 100
    font-size 20px
    padding 12px 10px
    position relative
    text-transform uppercase
    color $font-highlight-color
    .fa
      color #545f88
      position absolute
      right 15px
      top   15px
      font-size 16px

  &__content
    padding 0 10px 10px