.panel
  //border-bottom 1px solid darken($panel-bg-color, 5)
  &__title
    margin 0
    t(font, 'panel-title-font')
    padding 12px 10px
    position relative
    t(color, 'panel-title-color')
    text-transform uppercase
    .fa
      t(color, 'panel-icon-color')
      position absolute
      right 15px
      top   15px
      font-size 16px

  &__content
    padding 0 10px 10px