.select-box
  position relative
  overflow hidden

  cursor pointer

  t(background-color, 'control-embossed-bg-color')
  border-radius 2px

  t(box-shadow, 'control-embossed-shadow')

  font-weight 300

  //color lighten($font-color, 10)

  .fa
    position absolute
    right 10px
    font-size 20px
    top 50%
    margin-top -10px
    //color lighten($font-color, 10)

  &:hover
    color $font-highlight-color
    t(background-color, 'control-embossed-bg-color-highlight')
    .fa
      color $font-highlight-color

  select
    color inherit
    font-size 14px
    position relative
    z-index 1
    display block
    width 150%
    -webkit-appearance none
    -moz-appearance none
    appearance none
    border none
    -webkit-border-radius 0
    border-radius 0
    background-color transparent
    padding 9px 50px 9px 10px
    &:focus
      outline none
      t(background-color, 'control-embossed-bg-color-highlight')
      color #fff
