/*
 * This file is part of thumbor-toy project.
 *
 * (c) Raphaël Benitte <thumbor-toy@rbenitte.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.select-box
  position relative
  overflow hidden

  cursor pointer

  t(background-color, 'control-embossed-bg-color')
  border-radius 2px

  t(box-shadow, 'control-embossed-shadow')

  font-weight 300

  //color lighten($font-color, 10)

  .fa
    position absolute
    right 10px
    font-size 20px
    top 50%
    margin-top -10px
    t(color, 'control-embossed-icon-color')

  &:hover
    t(background-color, 'control-embossed-bg-color-highlight')
    t(color,            'control-embossed-txt-color-highlight')
    .fa
      t(color, 'control-embossed-icon-color-highlight')

  select
    color inherit
    font-size 14px
    position relative
    z-index 1
    display block
    width 150%
    -webkit-appearance none
    -moz-appearance none
    appearance none
    border none
    -webkit-border-radius 0
    border-radius 0
    background-color transparent
    padding 9px 50px 9px 10px
    &:focus
      outline none
      t(background-color, 'control-embossed-bg-color-highlight')
      t(color,            'control-embossed-txt-color-highlight')
