.switch {
  position: relative;

  font-weight: 300;

  t(background-color, 'control-bg-color')
  border-radius: 2px;

  display: table;
  table-layout: fixed;
  width: 100%;

  overflow: hidden;

  margin-bottom: 7px;

  label {
    position: relative;
    z-index: 2;
    display: table-cell;

    padding: 0 10px;
    cursor: pointer;

    width:       50%;
    height:      32px;
    line-height: 30px;

    text-align: center;

    //color: lighten($panel-bg-color, 15);

    &:hover {
      //color: lighten($font-color, 10);
    }
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }

  i {
    display: block;
    position: absolute;

    top:  0;
    left: 0;

    padding: 0;
    z-index: 1;
    width: 50%;
    height: 100%;

    border-radius: 2px;
    t(background-color, 'control-embossed-bg-color')

    t(box-shadow, 'control-embossed-shadow-inset')

    -webkit-transition: left 0.3s;
            transition: left 0.3s;
  }

  &__radio--0:checked ~ i { left: 0;   }
  &__radio--1:checked ~ i { left: 50%; }

  input:checked + label {
    //color: lighten($font-color, 10);
  }

  &--3 {
    label, i {
      width: 33.33%;
    }
    .switch__radio--0:checked ~ i { left: 0;      }
    .switch__radio--1:checked ~ i { left: 33.33%; }
    .switch__radio--2:checked ~ i { left: 66.66%; }
  }
}