.url
  z-index 200

  height      $header-height
  line-height $header-height

  position absolute

  top   0
  left  0
  right 0

  padding 9px 10px 0

  font-size 16px

  background-color $header-bg-color

  input[type="text"]
    vertical-align top
    font-family consolas, menlo, monaco, monospace;
    background-color $bg-color
    width 100%
    padding 9px