$header-height                       = 52px

// colors
$bg-color                            = #eee
$panel-bg-color                      = #fff
$control-bg-color                    = #ddd
$control-bg-color-focus              = #fff
$font-color                          = #717b98
$font-highlight-color                = #cdd7ef
$panel-title-color                   = #2f56ff
$panel-icon-color                    = #999
$header-bg-color                     = #fff

$filter-bg-color                     = #fff
$filter-header-height                = 42px
$filter-btn-bg-color-hover           = #fff
$filter-btn-icon-color               = #6f86ff

$control-embossed-bg-color           = #fff
$control-embossed-bg-color-highlight = #fff
$control-embossed-shade-color        = #ddd

$panel-toggle-open-bg-color          = #eee
$panel-toggle-open-txt-color         = #6f86ff
$panel-toggle-open-bg-color-hover    = #fff
$panel-toggle-open-txt-color-hover   = #2f56ff
$panel-toggle-open-txt-size          = 26px
$panel-toggle-open-size              = 46px
$panel-toggle-open-offset            = 26px

$panel-toggle-close-bg-color         = #eee
$panel-toggle-close-txt-color        = #6f86ff
$panel-toggle-close-bg-color-hover   = #fff
$panel-toggle-close-txt-color-hover  = #2f56ff
$panel-toggle-close-txt-size         = 16px
$panel-toggle-close-size             = 32px
$panel-toggle-close-offset           = 12px