/*
 * This file is part of thumbor-toy project.
 *
 * (c) Raphaël Benitte <thumbor-toy@rbenitte.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
@import './../../node_modules/normalize-css/normalize.css'

$fa-font-path = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts'
@require './../../node_modules/font-awesome-stylus/stylus/index.styl'


$unselectable
  -moz-user-select none
  -khtml-user-select none
  -webkit-user-select none
  -ms-user-select none
  user-select none;


@require 'themes/light-theme.styl'
@require 'themes/dark-theme.styl'
$themes = {
  light: $light-theme,
  dark:  $dark-theme,
}
@require 'functions/themify.styl'

html, body
  font-size 14px

  height 100%
  width  100%

  font-family 'Lato', sans-serif

.main
  height 100%
  width  100%

  t(background-color, 'bg-color',   false)
  t(color,            'font-color', false)

a
  color inherit
  text-decoration none

*, *:before, *:after
  box-sizing border-box

.empty-source
  text-align center

.resize
  &__switch
    display inline-block
    width 50%

.render
  position absolute

  top  50%
  left 50%

  &__loader
    position absolute

    z-index 9000

    top  50%
    left 50%

    width       120px
    height      36px
    line-height 36px

    margin-left -60px
    margin-top  -18px

    text-align center
    background-color $panel-bg-color
    border-radius 2px

.content
  position absolute
  top    $header-height
  right  20%
  bottom 0
  left   20%
  overflow auto

@require '_sidebar.styl'
@require '_modal.styl'
@require '_filter.styl'
@require '_filter-selector.styl'
@require '_header.styl'
@require '_forms.styl'
@require '_switch.styl'
@require '_panel.styl'
@require '_select.styl'
@require '_app-info.styl'