.panel {
  padding-bottom: 10px;
  border-bottom: 1px solid darken($panel-bg-color, 5);

  &__title {
    margin: 0;
    font-weight: 100;
    padding: 12px 10px;
    position: relative;
    text-transform: uppercase;
    color: $font-highlight-color;
    .fa {
      color: #151926;
      position: absolute;
      right: 15px;
      top:   12px;
    }
  }
  &__content {
    padding: 10px;
  }
}