.sidebar {
  z-index: 100;
  position: fixed;

  top:    $header-height;
  bottom: 0;

  width: 20%;

  background-color: $panel-bg-color;

  transition: transform 200ms;

  &._is-opened {
    transform: translate3d(0, 0, 0);
    .sidebar__toggle {
      width:  $panel-toggle-close-size;
      height: $panel-toggle-close-size;

      line-height: $panel-toggle-close-size;

      top: $panel-toggle-close-offset;

      box-shadow: 0 0 0 rgba(0, 0, 0, 0);

      background: $panel-toggle-close-bg-color;
      color:      $panel-toggle-close-txt-color;

      border-radius: $panel-toggle-close-size / 2;

      font-size: $panel-toggle-close-txt-size;

      &:hover {
        background: $panel-toggle-close-bg-color-hover;
        color:      $panel-toggle-close-txt-color-hover;
      }
    }
  }

  &--settings._is-opened {
    .sidebar__toggle {
      right: ($panel-toggle-close-offset + $panel-toggle-close-size) * -1;
    }
  }
  &--filters._is-opened {
    .sidebar__toggle {
      left: ($panel-toggle-close-offset + $panel-toggle-close-size) * -1;
    }
  }

  &--settings {
    left: 0;
    border-right: 1px solid $bg-color;
    transform: translate3d(-100%, 0, 0);
    .sidebar__toggle {
      right: ($panel-toggle-open-offset + $panel-toggle-open-size) * -1;
    }
  }

  &--filters {
    right: 0;
    border-left: 1px solid $bg-color;
    transform: translate3d(100%, 0, 0);
    .sidebar__toggle {
      left: ($panel-toggle-open-offset + $panel-toggle-open-size) * -1;
    }
  }

  &__toggle {
    //transition: all 200ms;
    cursor: pointer;

    position: absolute;

    text-align: center;

    display: block;

    top: $panel-toggle-open-offset;

    width:  $panel-toggle-open-size;
    height: $panel-toggle-open-size;

    line-height: $panel-toggle-open-size;

    border-radius: $panel-toggle-open-size / 2;

    background: $panel-toggle-open-bg-color;
    color:      $panel-toggle-open-txt-color;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);

    font-size: $panel-toggle-open-txt-size;

    &:hover {
      background: $panel-toggle-open-bg-color-hover;
      color:      $panel-toggle-open-txt-color-hover;
    }
  }
}