@import "../../bower_components/normalize-scss/normalize";

$fa-font-path: 'bower_components/font-awesome/fonts';
@import "../../bower_components/font-awesome/scss/font-awesome";

body {
  font-size: 16px;
  height: 100%;
  width: 100%;

  background-color: #262626;
  color: #bbb;

  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

$header-height: 42px;

.url {
  z-index: 200;

  height:      $header-height;
  line-height: $header-height;

  background-color: #535353;

  font-family: consolas, menlo, monaco, monospace;
  color: #fff;

  position: absolute;

  top:   0;
  left:  0;
  right: 0;

  padding: 0 15px;

  border-bottom: 1px solid #000;

  font-size: 14px;
}

.filter {
  font-size: 13px;

  &__toggle,
  &__delete,
  &__expand {
    position: absolute;
    top: 4px;
    display: block;
    width:       20px;
    height:      20px;
    line-height: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.35) inset;
    text-align: center;
    border-radius: 2px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.35);
      box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
    }
  }
  &__toggle {
    left: 10px;
    font-size: 12px;
  }
  &__delete {
    right: 32px;
    font-size: 10px;
  }
  &__expand {
    right: 10px;
  }

  &__header {
    position: relative;
    display: block;
    padding: 4px 0 4px 37px;
    color: #888;
    background-color: #535353;
    cursor: pointer;
    height:      30px;
    line-height: 20px;
    border-top:    1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0,     0,   0, 0.35);
  }

  &__settings {
    display: none;
    padding: 7px 10px;
    background-color: rgba(0, 0, 0, 0.1);
    select {
      width: 100%;
    }
    &._is-expanded {
      display: block;
    }
  }
  &._is-active {
    .filter__header {
      color: #fff;
    }
  }

  &__setting {
    &--text {
      color: #777;
      width: 100%;
      border: none;
      background-color: #333;
      border-radius: 2px;
      padding: 3px 10px;
      &:focus {
        outline: 0 none;
        background-color: #222;
        color: #999;
      }
    }
  }
}

.filters__selector {
  padding: 10px 40px 10px 10px;
  position: relative;
  vertical-align: top;
  select {
    vertical-align: top;
    width: 100%;
  }
  &__add {
    position: absolute;
    top:   10px;
    right: 10px;
    display: block;
    width:       20px;
    height:      20px;
    line-height: 20px;
    background-color: #535353;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    font-size: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    &:hover {
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
    }
  }
}

input[type="checkbox"] {
  margin-right: 7px;
}

select {
  font-size: 16px;
}
.select--full {
  width: 100%;
}

.resize {
  font-size: 14px;
  &__group {
    margin-bottom: 10px;
  }
  &__dimension {
    &__label {
      display: inline-block;
      width: 50%;
    }
    &__control {
      width: 50%;
      color: #777;
      border: none;
      background-color: #333;
      border-radius: 2px;
      padding: 3px 10px;
    }
  }
  &__switch {
    display: inline-block;
    width: 50%;
  }
}


.filters,
.metadata {
  z-index: 100;
  position: absolute;

  top:    $header-height;
  bottom: 0;

  width: 20%;

  background-color: #464646;
}

.metadata {
}


.panel {
  &__title {
    background-color: #393939;
    margin: 0;
    font-weight: 400;
    padding: 7px 10px;
    color: #bbb;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    .fa {
      color: #777;
      margin-right: 7px;
    }
  }
  &__content {
    padding: 10px;
    font-size: 14px;
    border-top:    1px solid rgba(255, 255, 255, 0.1);
    background-color: #535353;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.65);
  }
}

.filters {
  left: 0;
  border-right: 1px solid #000;
}
.metadata {
  right: 0;
  border-left: 1px solid #000;
}
.content {
  position: absolute;
  top:    $header-height;
  right:  20%;
  bottom: 0;
  left:   20%;
  overflow: auto;
}