@import "../../bower_components/normalize-scss/normalize";

body {
  font-size: 16px;
  height: 100%;
  width: 100%;

  background-color: #262626;

  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

$header-height: 42px;

.url {
  z-index: 200;

  height:      $header-height;
  line-height: $header-height;

  background-color: #535353;

  font-family: consolas, menlo, monaco, monospace;
  color: #fff;

  position: absolute;

  top:   0;
  left:  0;
  right: 0;

  padding: 0 15px;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);

  font-size: 14px;
}

.filter {
  font-size: 13px;
  border-top:    1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0,     0,   0, 0.1);

  background-color: #535353;

  padding: 0 10px;

  &__label {
    display: block;
    margin: 5px 0;
    color: #888;
  }
  &__settings {
    margin-bottom: 5px;
    display: none;
    select {
      width: 100%;
    }
  }
  &._is-active {
    .filter__label {
      color: #fff;
    }
    .filter__settings {
      display: block;
    }
  }
}

.image-source {
  border-top:    1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0,     0,   0, 0.1);

  background-color: #535353;

  padding: 10px;
  select {
    width: 100%;
  }
}


.filters,
.metadata {
  z-index: 100;
  position: absolute;

  top:    $header-height;
  bottom: 0;

  width: 20%;

  background-color: #464646;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.metadata {
  padding: 10px 15px;
}

.filters {
  left: 0;
  border-right: 1px solid #000;
  &__title {
    background-color: #393939;
    margin: 0;
    font-weight: 400;
    padding: 5px 10px;
    color: #999;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
  }
  &__list {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  }
}
.metadata {
  right: 0;
  border-left: 1px solid #000;
}
.content {
  position: absolute;
  top:    $header-height;
  right:  20%;
  bottom: 0;
  left:   20%;
  overflow: auto;
}